#banner{
    background-color: black;
    color: white;
    padding: 30px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2em;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color:#20B2AA	;
  color: white;
}

#footer {
  position: relative;
  margin-top: 400px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
  text-align: center;
} 

.mySlides {display:none;}

img{
    margin-left: auto;
    margin-right: auto;
    height: 500px;

}

book{
  margin-left: auto;
  margin-right: auto;
  background-color: green;
}

#log{
  margin-left: 60px;
  
  
}

.icon{
  width:20px;
  height:20px;
}


#sidebar{
  background-color: #20B2AA;
    width: 250px;
    height: 100%;
    color: white;
    font-family: sans-serif;
    font-size: 1.5em;
}

.main{
  width: 70%;
  margin-top: auto;
  margin-bottom: auto;
  float: inherit;
}

#navigator{
  margin-top: 30px;
}

.form-popup {
  display: none;
  position: fixed;
  right: 0px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  background-color: grey;
}


#check-in:hover{
  text-decoration: underline;
  cursor: pointer;
  
}

#check-out:hover{
  text-decoration: underline;
  cursor: pointer;}




body{

  
}
  


#form{
  margin-left: auto;
  margin-right: auto;
  
}

#delete{
  float: right;
  margin-bottom:20px;
}